<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="msGetConfigLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/data/logs/app/exemplo.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/data/logs/app/exemplorestapi/springboot.%d.log.zip
			</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%-5level %date{ISO8601} %X{idRequest} %logger{0} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.ehcache" level="ERROR" />
	<logger name="org.apache" level="ERROR" />
	<logger name="com.netflix" level="ERROR" />
	<logger name="org.springframework" level="ERROR" />
	<logger name="org.hibernate" level="ERROR" />

	<root level="INFO">
		<appender-ref ref="msGetConfigLog" />
	</root>
</configuration>